<footer class="site-footer h-card">
	<data class="u-url" href="{{ "/" | relative_url }}"></data>
	<div class="wrapper">
	  <div class="footer-col-wrapper">
		<div class="footer-col">
		  <h2 class="footer-heading">{{ site.title | escape }}</h2>
		  <p>{{ site.description | escape }}</p>
		</div>
		<div class="footer-col">
		  <h3>Quick Links</h3>
		  <ul class="footer-links">
			<li><a href="{{ '/about/' | relative_url }}">About Us</a></li>
			<li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
			<li><a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a></li>
			<li><a href="{{ '/terms-of-service/' | relative_url }}">Terms of Service</a></li>
		  </ul>
		</div>
		<div class="footer-col">
		  <h3>Connect With Us</h3>
		  <ul class="social-media-list">
			<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a></li>
			<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username| escape }}</span></a></li>
		  </ul>
		</div>
	  </div>
	  <div class="footer-bottom">
		<p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}. All rights reserved.</p>
	  </div>
	</div>
  </footer>