{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- if page_paths -%}
  {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
    <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
<a class="page-link" href="{{ '/honda/' | relative_url }}">Honda</a>
<a class="page-link" href="{{ '/acura/' | relative_url }}">Acura</a>
<a class="page-link" href="{{ '/engines/' | relative_url }}">Engines</a>
<a class="page-link" href="{{ '/technologies/' | relative_url }}">Technologies</a>
<a class="page-link" href="{{ '/authors/' | relative_url }}">Authors</a>