---
---

@import "minima";

article > section {
  margin-top: 2em;
}

#features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

#features > div {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

article > nav {
  margin-top: 2em;
  text-align: center;
}

article > nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

article > nav a:first-child {
  background-color: #cd0000;
  color: white;
}

article > nav a:not(:first-child) {
  background-color: #f8f8f8;
  color: #cd0000;
  border: 2px solid #cd0000;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 1em;
}

time {
  font-size: 0.8em;
  color: #828282;
}