---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>

  {{ content }}

  <section id="features">
    <div>
      <h3>Community Supported</h3>
      <p>Hondatabase thrives on the support of passionate Honda enthusiasts like you. Your contributions help us maintain and continuously improve.</p>
    </div>
    <div>
      <h3>Mobile-Friendly Access</h3>
      <p>Access Honda resources at your fingertips, perfect for referencing while working on your car or browsing for your next project.</p>
    </div>
    <div>
      <h3>Transparent and Ad-Free</h3>
      <p>We're committed to providing a user-friendly experience without intrusive advertisements, focusing solely on high-quality content.</p>
    </div>
    <div>
      <h3>Open-Source</h3>
      <p>Hondatabase is an open-source project, aiming to be the most reliable and user-friendly knowledgebase for Honda enthusiasts.</p>
    </div>
  </section>

  <nav>
    <a href="{{ '/about' | relative_url }}">Learn More</a>
    <a href="{{ '/community' | relative_url }}">Join Community</a>
    <a href="{{ '/contribute' | relative_url }}">Contribute</a>
  </nav>

  {% if site.posts.size > 0 %}
    <section>
      <h2>{{ page.list_title | default: "Latest Updates" }}</h2>
      <ul>
        {% for post in site.posts limit:3 %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
          <h3>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
          {% if site.show_excerpts %}
            {{ post.excerpt }}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <p>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</article>